   @media screen and (min-width:428px) {
       .container {
           max-width: 428px;
       }

   }

   @media screen and (min-width:1158px) {
    .container {
          max-width: 1158px; 
        
       }
           

   }


   @media screen and (min-width:768px) {
       .container {
           max-width: 768px;
          
       }
           .advantages-subtitle{
            text-align: left;
            
           }

           .advantages-list {
               padding: 110;
               gap: 72px 24px;
            padding: 0;
    
           }
                        .advantages {
                            padding-top: 96px;
                            padding-bottom: 96px;
                        }
      .advantages-item-top {
        display: flex;
      }
           
                   .advantages {
                       padding-top: 96px;
                       padding-bottom: 96px;
                   }
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
                                          
   }

   .team-icon-item{

    width: cals((100% - 24px) / 2);

   }
   .team-name-list{
    gap: 64px 24px;
   }
   .team-name-item {
       width: calc((100% - 24px) / 2);

   }



   .advantages-item {
    width: calc((100% - 24px) / 2);
      

   }

   .portfolio-carts-list{
    
    width: ((100% - 24px) / 2);
   

   

   }
   .portfolio-carts{
    gap: 72px 24px;
    
  

   }




        


   

  







 
 }
   