   @media screen and (min-width:428px) {
       .container {
           max-width: 426px;
       }

   }

   @media screen and (min-width:1158px) {
    .container {
            width: calc((100% - 72px) / 2);
        
       }

   }


   @media screen and (min-width:768px) {
       .container {
           max-width: 734px;
           width:calc((100% - 24px) / 2);
       }

           .advantages-list {
               padding: 110;
               gap: 72px 24px;
    
           }
                        .advantages {
                            padding-top: 96px;
                            padding-bottom: 96px;
                        }
      .advantages-item-top {
        display: flex;
      }
           .advantages-list {
               padding: 0;
               gap: 72px 72px;
    
           }
                   .advantages {
                       padding-top: 96px;
                       padding-bottom: 96px;
                   }
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
                                          
   }



   .advantages-item {
      

   }

   

  
/**
   .@media screen and (min-width:1440px) {
    .container{max-width:1166px;
   }
}
**/





.team{

padding-top: 96px;
    padding-bottom: 96px;
    gap: 24px 64px;
}

 .team-name-item{
    width: calc((100% - 24px) / 2);

 }
   