   @media screen and (min-width:320px) {
       .container {
           max-width: 320px;
       
       }

   }

   

   @media screen and (min-width:768px) {
       .container {
           max-width: 768px;
          
       }
           .advantages-subtitle{
            text-align: left;
            
           }

           .advantages-list {
               padding: 110;
               gap: 72px 24px;
            padding: 0;
    
           }
                        .advantages {
                            padding-top: 96px;
                            padding-bottom: 96px;
                        }
      .advantages-item-top {
        display: flex;
      }
           
                   .advantages {
                       padding-top: 96px;
                       padding-bottom: 96px;
                   }
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
                                          
   }

   .team-icon-item{

    width: cals((100% - 24px) / 2);

   }
   .team-name-list{
    gap: 64px 24px;
   }
   .team-name-item {
       width: calc((100% - 24px) / 2);

   }



   .advantages-item {
    width: calc((100% - 24px) / 2);
      

   }

   .portfolio-carts-list{
    
    width: calc((100% - 24px) / 2);
   
   

   

   }
   .portfolio-carts{
    gap: 72px 24px;
    
  

   }
   .hero-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-transform: none;
        min-width: 496;
        margin: 0 auto;
            margin-bottom: 48px;
      
       
           
        }

        

 

 .hero {
    padding:112px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/tablet.jpg);}






@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tabl2x.jpg);
    };
    }





.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;



}












     .mob-menu{
      display: none;
        }

        .menu-open-btn{
            display: none;
        }

                .header-menu-list {
                    color: #2e2f42;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    margin-left: auto;
                    display: flex;
                    gap: 40px;
                   margin: 0px;
                    padding: 0px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    
        
                    position: relative;
                    color: #404bbf;
                    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.header-logo {
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-right: 120px;

    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 16px;
   
    
    }



     .header-menu-item{

                    }
   .header-soc-list {
    display:inline-table;
    gap: 12px;
   
    

}
.header-sos-link {
color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.header-soc-list{
 
   
    
}

.header-menu-item{
    margin-bottom: 12px;

}







/*.container{
    width:100%;
    padding-left: 15px;
        padding-right: 15px;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 320px;

}*/



  .footer-container {

   display: flex ;
      align-items: baseline;
        flex-wrap: wrap;
        justify-content: left;
      
     

  }

  .social-container {
      /* margin-right: 120px;*/
      margin-bottom: 72px;
    margin-right: 24px;
    text-align: left;
   
   
 

    }
     


  .footer-logo {
      color: var(--iris, #4D5AE5);
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.54px;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      /*margin-bottom: 16px;*/
      margin-bottom: 17.5px;
   
  



  }

  

  

        .footer-botton {
            display: flex;
            justify-content: space-between;
            align-items: start;
           
    
    
        }

        .footer-logo-text{
            min-width: 264;
           
           
        }
    
        .footer-form {
          
        flex-direction: row;}
           

                .modal {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                    flex-shrink: 0;
                    border-radius: 4px;
                    background: var(--dairy, #FCFCFC);
                    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    transition: transform 300ms linear;
                    transform: translate(-50%, -50%) scale(1);
                    padding: 72px 24px 24px 24px;
                   
                    width: 408px;
                     min-height: 584px;
                  
                }
                


.social-media{
   margin-right: 0;
}

.social-container{
    
}


.footer-top-text{
    text-align: left;
  
  
}

 .social-media-text{
 text-align:unset;

 

}

 
 @media(min-width: 768px) {
    .container.team-container{
        max-width: 584px;
    }
   


}


@media(min-width: 768px) {
    .container.footer-container {
        max-width: 584px;
    }



}

   }



  





                                        










 @media screen and (min-width:1158px) {
     .container {
         max-width: 1158px;
         padding-left: 15px; 
         padding-right: 15px;
         

     }
           @media(min-width: 1158px) {
               .container.footer-container{max-width: 1158px} 
           }

         .advantages-item {
             width: calc((100% - 72px) / 4);
    
    
         }
                 @media(min-width: 1158px) {
                     .container.team-container {
                         max-width: 1158px;
                     }
         .advantages{
        padding: 120px 0;
            
         }

        .advantages-subtitle {
            color: var(--NAVY-BLUE, #2E2F42);  
                font-size: 20px;  
                font-weight: 500;
                line-height: 1.2;
           
                letter-spacing: 0.01em;


        }

                .advantsges-item-text{
                    color: var(--SLATE, #434455);
                        
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                       
                        letter-spacing: 0.01em;


                }
      .advantages-list{
        gap: 24px;
      }


      .team{
        padding-top: 120px;
            padding-bottom: 120px;
      }

      .team-name{
        margin-bottom: 72px;
      }
      .team-name-list{
        gap: 24px;
      }

      .team-name-item{
        width: calc((100% - 72px) / 4);
      }

          
     

      .portfolio-little{
margin-bottom: 120px;

      }
           .portfolio-carts-list {
               width: calc((100% - 48px) / 3);


 }
 .adventages-item-top{
    display: block;
    width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;
 
 }


 .hero-title {
     color: var(--white, #FFF);
     text-align: center;
     font-size: 56px;
     font-weight: 700;
     line-height: 1.07;
     letter-spacing: 0.02em;
     max-width: 496px;
     margin: 0 auto;
     margin-bottom: 48px;

 

 }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);




        }





                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url(../images/people-office-comp2x.jpg);
                    }
        
                    
                }


                .header-soc-list {
                    display: flex;
                    gap: 40px;

                }



.header-sos-link {
    color: var(--SLATE, #434455);
        
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        
        letter-spacing: 0.01em;
    
   

   }
   
      

      .footer {
            background: var(--navyblue, #2E2F42);
            padding-top: 50px;
            padding-bottom: 50px;
            padding: 100px 0;
    
    
        }

      
    
        .footer-container {
    
            /*display: flex;*/
            /*align-items: baseline;*/
    
        }
    
       .social-container {
          margin-right: 120px;

          margin-bottom: 0;
          margin-right: auto;
        }
    
        .footer-logo {
            color: var(--iris, #4D5AE5);
            font-size: 18px;
            font-weight: 800;
            line-height: 1.17;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 16px;
    
        }
    
        .footer-logo-italic {
            color: var(--cloud, #F4F4FD);
            font-size: 18px;
            font-weight: 800;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
        }
    
        .footer-logo-text {
            color: var(--cloud, #F4F4FD);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.32px;
            /*max-width: 264px*/
            max-width: 288px;
        }
    
        .footer-botton {
    
         /*  justify-content: space-between;
            align-items: center;*/
    
    
        }
    
        .footer-form {
            display: flex;
            gap: 24px;
    
    
        }
    
        .footer-input {
            width: 264px;
            height: 40px;
            background: var(--navyblue, #2E2F42);
            padding-left: 16px;
            padding-right: 24px;
    
            border-radius: 4px;
            border: 1px solid var(--white, #FFF);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            background-color: transparent;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
    
    
    
        }
    
        .footer-input:focus {}
    
        .footer-top-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            color: #ffffff;
            display: block;
        
    
    
        }
    
        .footer-input::placeholder {
            color: #ffffff;
            font-size: 12px;
            letter-spacing: 0.48px;
    
        }
    
        .footer-btn {
            display: inline-flex;
            padding: 8px 24px;
            justify-content: center;
            align-items: center;
    
            border-radius: 4px;
            min-width: 165px;
            height: 40px;
            display: flex;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            font-family: "Roboto", sans-serif;
    
        }
    
        .footer-input-label {}
    
        .label-icon-button {
            margin-left: 16px;
    
    
    
        }
    
    
    
       
    
        .backdrop {
            position: fixed;
            width: 100%;
            height: 100%;
    
            top: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            left: 0;
            background-color: rgba(46, 47, 66, 0.4);
    
    
    
    
    
        }
    
        .social-media {
            margin-bottom: 0;
            margin-right: 80px;
         
    
    
    
    
        }
    
        .social-media-text {
            
            text-align: left;
    
        }
    
        .media-icon-list {
            display: flex;
            gap: 16px;
        }
    
        .media-icon-item {
            width: 40px;
            height: 40px;
    
        }
    
        .media-icon-modul {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .media-icon-modul:hover {
            background-color: #31d0aa;
    
        }
    
        .media-icon-modul:focus {
            background-color: #31d0aa;
    
        }
    
        .media-icon-top {
            fill: #f4f4fd;
    
    
        }
    }