body { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root{

                --primary-font: "Roboto", sans-serif;
                --title-font: "Raleway", sans-serif;
                --primary-black-color: var(--slate, #434455;
                --primary-white-color:#FFFFFF;
                --primary-accent-color:#2e2f42;
                --secondary-accent-color: #404bbf;
                --active-link-color: #434455);

}

.container{
    width:1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding: 0 15px;

}

/*--------------HEADER-----------*/

.header{
    
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;

}
 

.header-navigation{
display: flex;
align-items: center;


}
.header-logo{
    color: var(--iris, #4D5AE5);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
    margin-right: 76px;
  
    
    
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-logo-italic{
    color: #2E2F42;
}
.header-menu-list{
    color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: auto;
        display: flex;
        gap: 40px;
        margin: 0px;
        padding: 0px;
        padding-top: 24px;
            padding-bottom: 24px;

            position: relative;
        color: #404bbf;
        transition:250ms cubic-bezier(0.4, 0, 0.2, 1);

       
        

}

.header-menu-link.caren{

   /* color: var(--navyblue, #2E2F42);*/
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
        


}

.header-menu-item :hover{color: #404bbf

}
.header-menu-item :focus{color: #404bbf}

ul{
    margin: 0px;
    padding: 0px;
}
.header-sos-link{
    color:var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

}


.header-menu-item{
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }

    .address{font-style: normal;
    margin-left: auto;}

    .header-soc-item{color: var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        
    }

    .header-soc-list{
        display: flex;
        gap: 40px;
        
    }

        .header-soc-item :hover{color: #404bbf;
        }

        .header-soc-item :focus{
            color: #404bbf

        }

        .color{
            color:#2e2f42 ;
            padding: 24px 0;
            padding-top: 24px;
          padding-bottom: 24px;
        }
            
        
       .current::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
        }

        .header-menu-link.current{
            position: relative;
        color: var(--ocean, #404BBF);


        }





/*--------------HERO-----------*/


.hero {
    background: var(--navyblue, #2E2F42);
   padding: 188px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    max-width: 1440px;
    margin:auto;
}



.hero-title{
    color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: 0.02em;
          max-width: 496px;
           margin: 0 auto;
            margin-bottom: 48px;
        
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

p{
    margin: 0;

}

.hero-btn{
    color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 4px;
            background: var(--iris, #4D5AE5);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            margin:0 auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            

}

 .hero-btn:hover{ background-color: #404BBF;}

 .hero-btn:focus{ background-color: #404BBF;}

/**------------ADVANTAGES------------**/


.advantages{
padding: 120px 0;


}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}


.advantages-list{
    
    display: flex;
      gap: 24px; 

}


.advantages-item{
  
width: calc((100% - 72px) / 4);


}

.adventages-item-top{
    width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;

}

.advantages-subtitle{
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        

}

.advantsges-item-text{
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     
    }
        .advantages-list{
            
        }



    /**--------middle--------**/

    .middle{
        padding-top: 0px;
        padding-bottom: 120px;
    }

   .middle-name{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom:72px ;}

        .middle-name-list{
            display: flex;
            gap: 24px;
            
        }
        .picture{
            display: block
        }

        .middle-name-item{
            width: calc((100% - 48px) / 3)
        }


       

   
   /*------------team--------------*/

   .team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

   }

   .team-name{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
        margin: 0 auto;
        margin-bottom: 72px;
        
      }


   .team-name-list{
    display: flex;
    gap: 24px;
    
   
   }


   .team-name-item {background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
        background: var(--white, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
       
        }

        .team-work{
            padding: 32px 0;
        }
        

        


         .bestsellers-picture{
            display: block;
         }


   .team-name-subtitle{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        margin-bottom: 8px;

   }
   .team-name-text{
    color: var(--slate, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
       }

      .team-icon-list{
       
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        fill: var(--iris, #4D5AE5);
       
       
        

       }

       .team-icon-item{
        width: 40px;
        height: 40px;
       
        
       }


       .team-icon-modul {
        width: 100%;
        height: 100%;
        background-color:#4d5ae5;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
       }

       .team-icon-modul:hover{
        background-color: #404bbf;
       }
       .team-icon-modul:focus{
        background-color: #404bbf;
       }

       .team-icon-top{
        fill: #f4f4fd;

       }




      /*--------customers------------*/


       .customers{
        padding-top: 120px;
        padding-bottom: 120px;

       }
       .customers-tittle{
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        color:#2e2f42;
        margin-bottom: 72px;
           
       }
       .customers-list{
        display: flex;
        gap: 24px;
        
       
        

       }
       .customers-name-item{
        width: calc((100% - 120px) / 6);
        height: 88px;
        


       }


       .customers-icon-modul{
        width: 100%;
        height: 100%;
        border: 1px solid #8e8f99;
        border-radius:4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#8e8f99;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

       }

       .customers-icon-modul:hover{
        border-color: #404bbf;
        color: #404bbf;


       }

       .customers-icon-modul:focus{
        border-color: #404bbf;
        color: #404bbf;

       }
      
       .customers-item-icon{
        fill: currentColor;
        
       }
       
       .customers-item-link{
       

       }

       .customers-item-icon:hover{
        border-color: #404bbf;
        color: #404bbf;

       }

       .customers-item-icon:focus{
        border-color: #404bbf;
        color: #404bbf;

       }

   


    /*-------portfolio------------*/


    .portfolio-little{
        padding-top: 96px;
        padding-bottom: 120px;
    }


    .visually-hidden{
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


    
    .portfolio-btn {
        color: var(--iris, #4D5AE5);;
        padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: var(--cloud, #F4F4FD);

    }
    

    .backr1{

    }
    .backr{
       
    }

    .portfolio-portf{
        gap: 24px;
        display: flex;
        justify-content: center;
            margin-bottom: 72px;
            
    }


    .portfolio-carts{
        color: #4d5ae5;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
             font-family: "Roboto", sans-serif;
             cursor: pointer;
            justify-content: center;
            row-gap: 48px;
            display: flex;
                gap: 24px;
                flex-wrap: wrap;
           
             
    }


    .portfolio-btn:hover{
        cursor: pointer;
        color: #FFFFFF;
        background-color: #404BBF;
        border: 1px solid transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .portfolio-btn:focus{
        color: #FFFFFF;
            background-color: #404BBF;
            border: 1px solid transparent;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 2px 1px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);

    }

    
    .carts{
        
        display: block;
    }
   
    

    .portfolio-carts-list{
        width: calc((100% - 48px) / 3);
       
        
    }

    .no-ideas{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px;
       

    }
    .portfolio-carts-tittle{
        color: #2e2f42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            
            
        
    }

    .portfolio-carts-text{
        color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            
    }

    .carts-top{
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}


    .carts-top:hover .carts-cover-text{
        transform:translateY(0%);

        }
        .carts-top:focus .carts-cover-text{
            transform: translateY(0%);


        }

        


    
    .carts-top:hover{
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);


    }
    .carts-top:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

    }

    .carts-cover{
       top: 0;
        background: var(--iris, #4D5AE5);
        position: relative;
        overflow: hidden;
        




       

    }
    .carts-cover-text{
        position: absolute;
        text-align: left;
       
      
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        top: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
      
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    







    /*------------FOOTER-----------*/

    .footer{
        background:var(--navyblue, #2E2F42);
        padding-top: 50px;
        padding-bottom: 50px;
        padding: 100px 0;
       
        
    }
    .footer-container{

        display: flex;
    align-items: baseline;
        
    }
    .social-container{
        margin-right: 120px;
    }

    .footer-logo{color: var(--iris, #4D5AE5);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;
        
        }

    .footer-logo-italic{color: var(--cloud, #F4F4FD);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
         text-decoration: none;}

    .footer-logo-text{color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 264px
        
    }
    .footer-botton{
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    .footer-form{
        display: flex;
        gap:24px;


    }

    .footer-input{
        width:264px;
        height:40px;
        background: var(--navyblue, #2E2F42);
        padding-left: 16px;
        padding-right: 24px;

        border-radius: 4px;
            border: 1px solid var(--white, #FFF);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            background-color: transparent;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
         


    }

    .footer-input:focus{

    }

    .footer-top-text{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;    
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            color: #ffffff;
            display: block;;;;;,



    }
    .footer-input::placeholder{
        color:#ffffff;
        font-size: 12px;
        letter-spacing: 0.48px;

    }
    .footer-btn{
        display: inline-flex;
            padding: 8px 24px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            border-radius: 4px;
                min-width: 165px;
                height: 40px;
                display: flex;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #ffffff;
                cursor: pointer;
                background-color: #4D5AE5;
                border: none; 
                font-family: "Roboto", sans-serif;
              
    }
    .footer-input-label{
       
    }

    .label-icon-button{
        
        margin-left: 16px;

    }



/*----------------------------*/

   .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        left: 0;
        background-color: rgba(46, 47, 66, 0.4);
        padding: 72px 24px 24px 24px;
        
       
    }

    .social-media{
        margin-right: 80px;

        


    }
    .social-media-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#FFFFFF;
        margin-bottom: 16px;

    }
    .media-icon-list{
        display: flex;
        gap: 16px;
    }
    .media-icon-item{
        width: 40px;
        height: 40px;

    }
    .media-icon-modul{
        width: 100%;
        height: 100%;
        background-color:#4d5ae5;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .media-icon-modul:hover{
        background-color: #31d0aa;

    }
    .media-icon-modul:focus{
        background-color: #31d0aa;

    }
    .media-icon-top{
        fill:#f4f4fd;


    }








    .modal{
        position:absolute;
        top: 50%;
        left: 50%;
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 408px;
           min-height: 584px; 
            flex-shrink: 0;
            border-radius: 4px;
                background: var(--dairy, #FCFCFC);
                box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                transition: transform 300ms lineal;
                transform: translate(-50%, -50%) scale(1);
                padding: 72px 24px 24px 24px;
                
              
           
     
               
                
                

    }

    .backdrop.is-hidden.modal{
        transform: translate(-50%, -50%) scale(3);
        

    }

    .modal-close-btn{
        position: absolute;
        top: 24px;
        right: 24px;
        height: 24px;
        width: 24px;
                border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #e7e9fc;
                  border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0;
                  cursor: pointer;
                  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                  border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

           


    .is-hidden{
        opacity: 0;
        visibility:hidden;
        pointer-events: none;


    }
    .modal-icon{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        }

     .modal-close-btn:hover{
        background-color: #404bbf;
        border: none;

     }

     .modal-close-btn:focus{
        background-color: #404bbf;
        border: none;

     }

     .modal:hover{
        fill: #ffffff

     }

     .modal:focus {
        fill: #ffffff

     }

         .modal-tittle {
             color: var(--navyblue, #2E2F42);
             text-align: center;
             font-size: 16px;
             font-style: normal;
             font-weight: 500;
             line-height: 1.5;
             margin-bottom: 16px;
             padding-top: 72px;
            letter-spacing: 0.02em;
    
         }
    
         .modal-form {}

         .modal-input{
            width: 100%;
            height: 58px;
            background-color: transparent;
            border-radius: 4px;
            
            padding-left: 60px;
            padding-right: 16px;
            outline: transparent;
            transition: border-color;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            padding-left: 38px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


            
         }


         .modal-input:focus{
           border-color:#4D5AE5 ; 

         }
         .modal-input:focus + .modal-icon{
            fill:#4D5AE5;
         }

         .modal-field{
            margin-bottom: 8px;
           
           


         }

         .modal-field-comment{
            margin-bottom: 16px;


         }
         .modal-input::placeholder{
            color: var(--lightslate, #8E8F99);

         }

         .modal-input:required{
            
         }


         .modal-form-btn:disabled{

         }


         .modal-label{
            color: var(--lightslate, #8E8F99);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17;
                letter-spacing: 0.04em;
                display: block;
                margin-bottom: 4px;
               

            

         }

         .modal-input-wrap{
            position: relative;
         }

         .modal-icon{
            fill: transparent;
            stroke: #2E2F42;
            position: absolute;
            left:16px;
            top: 50%;
            transform: translateY(-50%);
            transform: stroke;


         }

         


         
         .modal-comment{
            color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17;
                letter-spacing: 0.04em;

                width: 100%;
                height: 120px;
                background-color: transparent;
                border-radius: 4px;
                resize:none;
                border: 1px solid rgba(46, 47, 66, 0.4);
                padding: 8px 16px;
                outline: transparent;
                transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              




               

         }

         .modal-comment:focus{
            border-color: #4D5AE5;

         }

                 .modal-check-text {
                     color: #8e8f99;;
                     font-size: 1.16;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 1.17;
                     letter-spacing: 0.04em;
                     display: flex;
                     align-items: center;
                    display: block;
                    font-size: 12px;

        
        
                 }

         .modal-check-link{
            color: var(--iris, #4D5AE5);
                font-size: 1.16;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-decoration-line: underline;
         }


         .modal-check-text{
          
                margin-right: 8px;
                color: #8e8f99;;
                align-items: center;
                fill: transparent;
                display: block;
               
                 font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
              
                    stroke-width: 1px;
                    stroke: var(--navyblue-modal, rgba(46, 47, 66, 0.40));



                


                 }

                 .modal-check:checked +.modal-check-text .span-policy{
                background-color: #404BBF;
                border: none;
                fill:#F4F4FD;
               
               
                  
                 }

                 .modal-check:focus{
                    background-color: var(--ocean, #404BBF);
                    fill:#F4F4FD;
                    }

            .modal-policy{
                margin-bottom: 24px;


            }
            .span-policy{
                width: 16px;
                height: 16px;
                border: 1px solid rgba(46, 47, 66, 0.4);
                border-radius: 2px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                display: inline-flex;
                align-items: center;
                 justify-content: center;
                fill: transparent;

            }


            .modal-form-btn{
                display: block;
                min-width: 169px;
                height: 56px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #ffffff;
                 cursor: pointer;
                background-color: #4D5AE5;
                border: none;
                border-radius: 4px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                font-family: "Roboto", sans-serif;
               



            }
            

           


                 
     



       









