body { 
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root{

                --primary-font: "Roboto", sans-serif;
                --title-font: "Raleway", sans-serif;
                --primary-black-color: var(--slate, #434455;
                --primary-white-color:#FFFFFF;
                --primary-accent-color:#2e2f42;
                --secondary-accent-color: #404bbf;
                --active-link-color: #434455);

}

/*.container{
    width:100%;
    padding-left: 15px;
        padding-right: 15px;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 428px;

}*/


.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/*--------------HEADER-----------*/

.header{
    
    
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        
}

.header-container{
    display: flex;
    align-items: center;

}
 

.header-navigation{
display: flex;
align-items: center;


}
.header-logo{
   
        color: var(--IRIS, #4D5AE5);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.16;
            /* 116.667% */
            letter-spacing: 0.02em;
            text-transform: uppercase;
      
  

    padding-top: 17px;
    padding-bottom: 17px;
  
    
    
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-logo-italic{
    color: #2E2F42;
}
.header-menu-list{
    color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: auto;
        display: flex;
        gap: 40px;
        margin: 0px;
        padding: 0px;
        padding-top: 24px;
            padding-bottom: 24px;

            position: relative;
        color: #404bbf;
        transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;

       
        

}

.header-menu-link.caren{

   /* color: var(--navyblue, #2E2F42);*/
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
        


}

.header-menu-item :hover{color: #404bbf

}
.header-menu-item :focus{color: #404bbf}

ul{
    margin: 0px;
    padding: 0px;
}



img{
    display: block;
    max-width: 100%;
    height: auto;
}
.header-sos-link{
    color:var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        

}


.header-menu-item{
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }

    .address{font-style: normal;
    margin-left: auto;}

    .header-soc-item{color: var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        
    }

    .header-soc-list{
        /*display: flex;*/
        gap: 40px;
        display: none;
        
    }

        .header-soc-item :hover{color: #404bbf;
        }

        .header-soc-item :focus{
            color: #404bbf

        }

        .color{
            color:#2e2f42 ;
            padding: 24px 0;
            padding-top: 24px;
          padding-bottom: 24px;
        }
            
        
       .current::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
        }

        .header-menu-link.current{
            position: relative;
        color: var(--ocean, #404BBF);


        }





        .mob-menu{
            width: 100vw;
            height: 100vh;
            background-color: #FFF;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            padding: 24px 24px 40px 16px;
          /*  display: flex;
            flex-direction: column;*/
         /* justify-content: space-between;*/
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            pointer-events: auto;

      
                            position: fixed;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                            left: 0;
              
                            padding: 72px 24px 24px 24px;
                    
                    
                        

        }

        .menu-open-btn{
           background-color: transparent;
            border: none;
            



        }


        .modal-modal{
            margin-bottom: auto;

        }

        .mob-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            /*position: relative;*/
        }

    

              .mob-menu.is-open {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;}

                  .is-open{
                    padding-top: 24px;
                   }




                .mob-menu.is-open.modal-modal {
                    transform: translate(-50%, -50%) scale(3);}

        .menu-close-btn{
            display: block;
            margin-left: auto;
            margin-bottom: 24px;
            cursor: pointer;
            top: 24px;
                right: 24px;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              background-color: #e7e9fc;
               border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0;
                /*border: none;*/
                background-color: transparent;
          
            
               
             
             
               
        }

        .mobole{
            color: var(--IRIS, #4D5AE5);
        }

        
        .mob-menu-list{
          /*  margin-bottom:168px ;*/
        }
        .mob-menu-link{
            color:var(--NAVY-BLUE, #2E2F42);
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                
                letter-spacing: 0.018em;
                text-transform: capitalize;

        }
        .mob-menu-link-mob{
            color: var(--OCEAN, #404BBF);
            font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
            
                letter-spacing: 0.018em;
                text-transform: capitalize;

        }


              /* .mob-menu-item{
               margin-bottom: 40px;}*/

                
                   .mob-menu-item :hover {
                       color: #404bbf
                   }
        
                   .mob-menu-item :focus {
                       color: #404bbf
                   }
                .mob-soc-list{
                    margin-bottom: 48px;
                  
                    
                }
                  .mob-sos{
            margin-bottom:24px;
           

                                }
                               
.menu-menu{
    margin-bottom: 40px;

}


             .mob-sos-link{

                color: var(--SLATE, #434455);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                  


             }
             .mob-sos-link-mob{
                color: var(--IRIS, #4D5AE5);
                font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;

             }




            .mob-soc-item :hover {
                color: #404bbf;
                          }
            
         .mob-soc-item :focus {
            color: #404bbf
                          }
    









      .mob-icon-list{
        display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            fill: var(--iris, #4D5AE5);
          

      }

      .mob-icon-modul{
        width: 100%;
        height: 100%;


      }
      .mob-icon-item{
        width: 40px;
            height: 40px;

      }
      .mob-icon-modul{
        width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }
        
       
        
        .mob-icon-top {
            fill: #f4f4fd;
        
        
        }


               
        
                   .modal-icon {
                       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                   }
        
                  
        
                   

      




/*--------------HERO-----------*/


.hero {
    background: var(--navyblue, #2E2F42);
   /*padding: 188px 0;*/
   padding: 72px 0 72px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobil.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    max-width: 1440px;
    margin:auto;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobil2x.jpg);
    }
}



.hero-title{
    color: var(--white, #FFF);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.018em;
          max-width: 208px;
           margin: 0 auto;
            margin-bottom: 48px;
            
            text-transform: capitalize;
        
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

p{
    margin: 0;

}

.hero-btn{
    color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 4px;
            background: var(--iris, #4D5AE5);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            margin:0 auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            

}

 .hero-btn:hover{ background-color: #404BBF;}

 .hero-btn:focus{ background-color: #404BBF;}

/**------------ADVANTAGES------------**/


.advantages{
padding: 96px 0px;


}
.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}


.advantages-list{
    
    display:  flex;
    gap: 72px;
      flex-wrap: wrap;
   
     
      

}


.advantages-item{
  
width: 100%;
position: relative;


}

.adventages-item-top{
    width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;
        display: none;

}

.advantages-subtitle{
    color: var(--navyblue, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.018em;
        margin-bottom: 8px;
        align-self: stretch;
        text-align: center;
        text-transform: capitalize;
        font-style: normal;
       
        

}

.advantsges-item-text{
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    align-self: stretch;
    flex-direction: column;
        align-items: flex-start;
   
     
    }
        .advantages-list{
            
        }



   


       

   
   /*------------team--------------*/

           .team {
               background-color: #F4F4FD;
               padding-top: 96px;
               padding-bottom: 96px;
    
    
    
           }
    
           .team-name {
               color: var(--navyblue, #2E2F42);
               text-align: center;
               font-size: 36px;
               font-weight: 700;
               line-height: 1.11;
               letter-spacing: 0.72px;
               text-transform: capitalize;
    
               margin: 0 auto;
               padding-bottom: 72px;
    
           }
    
    
           .team-name-list {
               display: flex;
               gap: 72px;
               flex-wrap: wrap;
               justify-content: center;
    
    
           }
    
    
           .team-name-item {
               width: 264px;
               background-color: #FFFFFF;
               border-radius: 0px 0px 4px 4px;
               background: var(--white, #FFF);
               box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
           }
    
           .team-name-item:not(:nth-child(-n + 4)) {
               display: none;
    
    
           }
    
           .team-work {
               padding: 32px 0;
               gap: 32px;
    
           }
    
    
    
    
    
           .bestsellers-picture {
               display: block;
               margin: 0 auto;
           }
    
    
           .team-name-subtitle {
               color: var(--navyblue, #2E2F42);
               text-align: center;
               font-size: 20px;
               font-weight: 500;
               line-height: 1.2;
               letter-spacing: 0.4px;
               margin-bottom: 8px;
    
    
           }
    
           .team-name-text {
               color: var(--slate, #434455);
               text-align: center;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 0.32px;
               margin-bottom: 8px;
           }
    
           .team-icon-list {
    
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 24px;
               fill: var(--iris, #4D5AE5);
    
    
    
    
           }
    
           .team-icon-item {
               width: 40px;
               height: 40px;
    
    
           }
    
    
           .team-icon-modul {
               width: 100%;
               height: 100%;
               background-color: #4d5ae5;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
           }
    
           .team-icon-modul:hover {
               background-color: #404bbf;
           }
    
           .team-icon-modul:focus {
               background-color: #404bbf;
           }
    
           .team-icon-top {
               fill: #f4f4fd;
    
    
           }



      


    /*-------portfolio------------*/


    

    .visually-hidden{
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


    
    .portfolio-btn {
        color: var(--iris, #4D5AE5);;
        padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: var(--cloud, #F4F4FD);

    }
    

    .backr1{

    }
    .backr{
       
    }

    .portfolio-portf{
        gap: 24px;
        display: flex;
        justify-content: center;
            margin-bottom: 72px;
           
            
    }


    .our-portfolio-tittle{

        color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;

            letter-spacing: 0.018em;
            text-transform: capitalize;
            padding-top: 96px;
            margin-bottom: 72px;



    }


    .portfolio-carts{
        color: #4d5ae5;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
             font-family: "Roboto", sans-serif;
             cursor: pointer;
            justify-content: center;
            row-gap: 48px;
            display: flex;
                gap: 48px;
                flex-wrap: wrap;
                margin-bottom: 96px;
           
             
    }


    .portfolio-btn:hover{
        cursor: pointer;
        color: #FFFFFF;
        background-color: #404BBF;
        border: 1px solid transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .portfolio-btn:focus{
        color: #FFFFFF;
            background-color: #404BBF;
            border: 1px solid transparent;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 2px 1px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);

    }

    
    .carts{
        
        display: block;
        margin: 0 auto;
    }
   
    

    .portfolio-carts-list{
        width: 100%;
       
        
    }

    .no-ideas{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px;
       

    }
    .portfolio-carts-tittle{
        color: #2e2f42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: left;
            margin-bottom: 8px;
            
            
        
    }

    .portfolio-carts-text{
        color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: left;
            
    }

    .carts-top{
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}


    .carts-top:hover .carts-cover-text{
        transform:translateY(0%);

        }
        .carts-top:focus .carts-cover-text{
            transform: translateY(0%);


        }

        


    
    .carts-top:hover{
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);


    }
    .carts-top:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

    }

    .carts-cover{
       top: 0;
        background: var(--iris, #4D5AE5);
        position: relative;
        overflow: hidden;
        




       

    }
    .carts-cover-text{
        position: absolute;
        text-align: left;
       
      
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        top: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
      
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    







    /*------------FOOTER-----------*/

    .footer{
        background:var(--navyblue, #2E2F42);
        padding-top: 50px;
        padding-bottom: 50px;
        padding: 100px 0;
       
        
    }
    .footer-container{

   align-items: baseline;
        
    }
    .social-container{
       /* margin-right: 120px;*/
       margin-bottom: 72px; 
       text-align: center;
      
    }

    .footer-logo{color: var(--iris, #4D5AE5);
        font-size: 18px;
        
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        /*margin-bottom: 16px;*/
        margin-bottom: 17.5px;
        text-align: center;
        justify-self: center;
        
            align-items: center;
        
        
        }

    .footer-logo-italic{color: var(--cloud, #F4F4FD);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
         text-decoration: none;}

    .footer-logo-text{color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 264px;
        text-align: left;
       
        
    }
    .footer-botton{
      /*  display: flex;
        justify-content: space-between;*/
        align-items: center;
        flex-direction: column;



        

    }

    .footer-form{
        display: flex;
        gap:24px;
        flex-direction: column;
        align-items: center;
      


    }

    .footer-input{
        width: 288px;
        /*width: 264px;*/
        height:40px;
        background: var(--navyblue, #2E2F42);
        padding-left: 16px;
        padding-right: 24px;

        border-radius: 4px;
            border: 1px solid var(--white, #FFF);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            background-color: transparent;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
         


    }

    .footer-input:focus{

    }

    .footer-top-text{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;    
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            color: #ffffff;
            display: block;
            margin-bottom: 16px;
            text-align: center;



    }
    .footer-input::placeholder{
        color:#ffffff;
        font-size: 12px;
        letter-spacing: 0.48px;

    }
    .footer-btn{
        display: inline-flex;
            padding: 8px 24px;
            justify-content: center;
            align-items: center;
           /* gap: 16px;*/
            border-radius: 4px;
                min-width: 165px;
                height: 40px;
                display: flex;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #ffffff;
                cursor: pointer;
                background-color: #4D5AE5;
                border: none; 
                font-family: "Roboto", sans-serif;
               /* margin-bottom: 16px;*/
              
    }
    .footer-input-label{
       
    }

    .label-icon-button{
        
        margin-left: 16px;

    }

    .social-media{
        margin-bottom: 72px;

    }

    



/*----------------------------*/

   .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        left: 0;
        background-color: rgba(46, 47, 66, 0.4);
        padding: 72px 24px 24px 24px;
        
       
    }

    .social-media{
        /*margin-right: 80px;*/
        margin-bottom: 72px;
       
       
        

        


    }
    .social-media-text{
    color: var(--CLOUD, #F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.01em;
        margin-bottom: 16px;
      text-align: center;
     
       

    }
    .media-icon-list{
        display: flex;
        gap: 16px;
        text-align: center;
            justify-content: center;
        
            

    }
    .media-icon-item{
        width: 40px;
        height: 40px;

    }
    .media-icon-modul{
        width: 100%;
        height: 100%;
        background-color:#4d5ae5;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .media-icon-modul:hover{
        background-color: #31d0aa;

    }
    .media-icon-modul:focus{
        background-color: #31d0aa;

    }
    .media-icon-top{
        fill:#f4f4fd;


    }
















         .modal {
             position: absolute;
             top: 50%;
             left: 50%;
             transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
             flex-shrink: 0;
             border-radius: 4px;
             background: var(--dairy, #FCFCFC);
             box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
             transition: transform 300ms linear;
             transform: translate(-50%, -50%) scale(1);
             /*padding: 72px 24px 24px 24px;*/
             padding: 72px 16px 24px 16px;
             /*width: 408px;
             min-height: 584px;*/
            width: 288px;
                min-height: 623px;

         }
    
         .backdrop.is-hidden.modal {
             transform: translate(-50%, -50%) scale(3);
    
    
         }
    
         .modal-close-btn {
             position: absolute;
             top: 24px;
             right: 24px;
             height: 24px;
             width: 24px;
             border-radius: 50%;
            display: flex;
             align-items: center;
             justify-content: center;
             background-color: #e7e9fc;
             border: 1px solid rgba(0, 0, 0, 0.1);
             padding: 0;
             cursor: pointer;
             transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
             fill: var(--navyblue, #2E2F42);
            margin-bottom: 16px;
         }
    
         .modal-close-btn:hover .modal-icon {
             fill: var(--cornflower, #E7E9FC);
    
    
         }
    
    
    
    
         .is-hidden {
             opacity: 0;
             visibility: hidden;
             pointer-events: none;
    
    
         }
    
         .modal-icon {
    
             transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
             position: absolute;
             left: 16px;
             top: 50%;
             transform: translateY(-50%);
    
    
         }
    
         .modal-close-btn:hover .modal-icon-modal {
    
             border: none;
             fill: #FFF;
    
    
         }
    
         .modal-close-btn:hover {
             background-color: #404bbf;
         }
    
    
         .modal-close-btn:focus {
             background-color: #404bbf;
             border: none;
    
         }
    
         .modal:hover {}
    
         .modal:focus {}
    
         .modal-tittle {
             color: var(--navyblue, #2E2F42);
             text-align: center;
             font-size: 16px;
             font-style: normal;
             font-weight: 500;
             line-height: 1.5;
             margin-bottom: 16px;
    
             letter-spacing: 0.02em;
    
         }
    
         .modal-form {}
    
         .modal-input {
             width: 100%;
             height: 58px;
             background-color: transparent;
             border-radius: 4px;
    
             padding-left: 60px;
             padding-right: 16px;
             outline: transparent;
             transition: border-color;
             height: 40px;
             border: 1px solid rgba(46, 47, 66, 0.4);
             padding-left: 38px;
             transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
             
    
    
    
         }

         
    
    
         .modal-input:focus {
             border-color: #4D5AE5;
             ;
    
         }
    
         .modal-input:focus+.modal-icon {
             fill: #4D5AE5;
         }
    
         .modal-field {
             margin-bottom: 8px;
    
    
    
    
         }
    
         .modal-field-comment {
             margin-bottom: 16px;
    
    
         }
    
         .modal-input::placeholder {
             color: var(--lightslate, #8E8F99);
    
         }
    
         .modal-input:required {}
    
    
         .modal-form-btn: {}
    
    
         .modal-label {
             color: var(--lightslate, #8E8F99);
             font-size: 12px;
             font-style: normal;
             font-weight: 400;
             line-height: 1.17;
             letter-spacing: 0.04em;
             display: block;
             margin-bottom: 4px;
           

    
    
    
    
         }
    
         .modal-input-wrap {
             position: relative;
         }
    
         .modal-icon {}
    
    
    
    
    
         .modal-comment {
             color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
             font-size: 12px;
             font-style: normal;
             font-weight: 400;
             line-height: 1.17;
             letter-spacing: 0.04em;
    
             width: 100%;
             height: 120px;
             background-color: transparent;
             border-radius: 4px;
             resize: none;
             border: 1px solid rgba(46, 47, 66, 0.4);
             padding: 8px 16px;
             outline: transparent;
             transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
    
    
    
    
         }
    
         .modal-comment:focus {
             border-color: #4D5AE5;
    
         }
    
         .modal-check-text {
             color: #8e8f99;
             ;
             font-size: 1.16;
             font-style: normal;
             font-weight: 400;
             line-height: 1.17;
             letter-spacing: 0.04em;
             display: flex;
             align-items: center;
             display: block;
             font-size: 12px;
             
             
    
    
    
    
         }
    
         .modal-check-link {
             color: var(--iris, #4D5AE5);
             font-size: 1.16;
             font-style: normal;
             font-weight: 400;
             line-height: 16px;
             letter-spacing: 0.03em;
             text-decoration-line: underline;
         }
    
    
         .modal-check-text {
    
    
             color: #8e8f99;
             ;
             align-items: center;
             fill: transparent;
             display: block;
    
             font-size: 12px;
             line-height: 1.17;
             letter-spacing: 0.04em;
    
             stroke-width: 1px;
             stroke: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
             display: flex;
    

       
    
    
    
    
    
         }
    
         .modal-check:checked+.modal-check-text .span-policy {
             background-color: #404BBF;
             border: none;
             fill: #F4F4FD;
    
    
    
         }
    
         .modal-check:focus {
             background-color: var(--ocean, #404BBF);
             fill: #F4F4FD;
         }
    
         .modal-policy {
             margin-bottom: 24px;
    
    
    
         }
    
         .span-policy {
             width: 16px;
             height: 16px;
             border: 1px solid rgba(46, 47, 66, 0.4);
             border-radius: 2px;
             transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
             display: inline-flex;
             align-items: center;
             justify-content: center;
             fill: transparent;
    
             margin-right: 8px;
    
    
    
         }
    
    
         .modal-form-btn {
             display: block;
             min-width: 169px;
             height: 56px;
             font-size: 16px;
             font-weight: 500;
             line-height: 1.5;
             letter-spacing: 0.04em;
             color: #ffffff;
             cursor: pointer;
             background-color: #4D5AE5;
             border: none;
             border-radius: 4px;
             transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
             font-family: "Roboto", sans-serif;
             margin: 0 auto;
    
    
    
    
         }
    
         .modal-icon-modal {
    
             fill: var(--navyblue, #2E2F42);
             filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
         }
    
    
    
         .modal-top-super {
             fill: transparent;
             stroke: transparent;
    
    
         }
    
         .modal-close-btn .modal-icon-modal:hover {}








   
     



       









